<!--The content below is only a placeholder and can be replaced.-->

<html>


  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link ref ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link ref ="stylesheet" href="app.component.css"/>
  </head>

  <body>

    <div class="container-fluid">
      <div id="header" class="row">
          <div class="col-md-1">
            <img [attr.src]="server+world.logo"/>
          </div>
          <div class="col-md-3">
            <label for="worldname">Nom du monde : </label>
            <span id="worldname">{{world.name}} </span>
          </div>
          <div class="col-md-2">
            <label for="worldmoney">Vos précieuses pièces : </label>
            <span  id="worldmoney" [innerHTML] ="world.money | bigvalue"></span>
          </div>
          <div class="col-md-3">
            <button id="multiplicateur" (click)="selectQtmulti()">{{qtmulti}}</button>
          </div>
          <div class="col-md-3">            
            <label for="nomJoueur">Votre ID : </label>   
            <input type="text" id="nomJoueur" name="nomJoueur" [(ngModel)]="username" (change)="onUsernameChanged()"/>
          </div>
      </div>


        <div class="row">
          <div *ngFor="let product of world.products.product" class="col-md-4">
              <app-product [prod]="product" [money]="world.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)" (notifyBuy)="onBuyDone($event)"></app-product>
          </div>
        </div>

        <div id="footer" class="row">
            <div class="col-md-3">Unlocks</div>
            <div class="col-md-2">Cash upgrades</div>          
            <div class="col-md-2">Angel upgrades</div>          
            <div class="col-md-3">
              <div class="buttonleft btn btn-primary btn-lg" data-toogle="modal" (click)="managersModal.show()">
                  <span *ngIf="managerBuyable" class="badge">New</span>
               Managers
              </div>
            </div>
            <div class="col-md-2">Investors</div>
        </div>


    </div>

    <!--Managers-->
    <app-modal #managersModal> 
      <div class="app-modal-header"> 
        <h3 class="modal-title">Managers make you feel better ! </h3> 

      </div> 
      <div class="app-modal-body"> 
        <div *ngFor="let manager of world.managers.pallier" >


          <div class="row" *ngIf="!manager.unlocked">
              <div class="col-md-3">
                <img class="img_round" [attr.src]="server+manager.logo" />
                <p> </p>
              </div>
              <div class="col-md-3">
                <h4>{{manager.name}}</h4>
                <p>Level {{manager.idcible}}</p>
                <p><span>{{manager.seuil}}</span></p>
              </div>
              <div>
                <button type="button" class="btnhire" (click)="hireManager(manager)" >Hire</button>
              </div>
          </div>


        </div> 
      </div> 
      <div class="app-modal-footer"> 
        <button type="button" class="btn btn-default" (click)="managersModal.hide()">Close</button> 
      </div>


    </app-modal>

    <toaster-container></toaster-container>

  </body>
</html>